<div class="alert alert-success my-4">
  <%= svg_icon('check', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">
      Email Reminders Enabled
    </p>
    <p>
      <%= t('send_automatic_email_reminders_to_your_recipients') %>
    </p>
  </div>
</div>
